<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
	
	<h1> This is the homepage yo,</h1>
	<h2> Click the links to check out my favorite things! </h2>
	<div id="main" "col-lg-6 col-centered"> 
	<ul>
		<li> <a href="/songs"> My Favorite Songs </a> </li>
		<li> <a href="/animals"> My Favorite Animals </a> </li>
		<li> <a a href="/movies"> My Favorite Movies </a> </li>
	</ul>
	</div>
  	
  </body>
</html>


